@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media (min-width: 375px) {
  .main__container {
    max-width: 1440px;
  }
}
@media (min-width: 634px) {
  .main__container__menu .menu__container__background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__container__menu .menu__container__background .menu__container {
    width: 634px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__container__menu .menu__container__background .menu__container .plat {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .fonctionnement {
    padding: 48px 20px 68px 20px;
  }
  .restaurants {
    padding: 54px 18px 66px 18px;
  }
  footer {
    padding: 22px 25px 22px 25px;
  }
  footer .footer__logo {
    padding-bottom: 16px;
  }
}
@media (min-width: 780px) {
  .fonctionnement {
    padding: 48px 20px 50px 20px;
  }
  .restaurants {
    padding: 30px 18px 10px 18px;
  }
  .restaurants .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .restaurants .restaurants__cards a {
    width: 490px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 60px 60px 30px 0;
  }
  footer .footer__logo {
    margin-left: 70px;
  }
  footer .footer__container {
    display: flex;
    flex-direction: row;
  }
  footer .footer__container .container__haut {
    display: flex;
    flex-direction: row;
  }
  footer .footer__container .container__haut i {
    padding-left: 10px;
  }
  footer .footer__container .container__bas {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
  }
  footer .footer__container .container__bas a {
    padding-left: 10px;
  }
}
@media (min-width: 1080px) {
  .fonctionnement {
    display: flex;
    justify-content: center;
    padding: 48px 20px 50px 20px;
  }
  .fonctionnement .fonctionnement__containner {
    width: 1080px;
  }
  .fonctionnement .fonctionnement__containner .fonctionnement__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement .fonctionnement__containner .fonctionnement__list .fonctionnement__explication {
    width: 320px;
  }
  .restaurants {
    display: flex;
    justify-content: center;
  }
  .restaurants .restaurants__containner {
    width: 1080px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .bg__La_palette_du_gout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu .menu__container__background {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

.body__menu {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container__menu {
  width: 100%;
  max-width: 1440px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 63px;
}
.header__menu .arrow__left {
  position: absolute;
  left: 17px;
  top: 14px;
  font-size: 30px;
}

.bg__La_palette_du_gout {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 275px;
  width: 100%;
}

.bg__Le_delice_des_sens {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 275px;
  width: 100%;
}

.bg__La_note_enchantee {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 275px;
  width: 100%;
}

.bg__A_la_francaise {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 275px;
  width: 100%;
}

.menu .menu__container__background {
  max-width: 1055px;
  margin-top: -55px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 32px 17px 40px 17px;
  overflow: hidden;
}
.menu .menu__container__background .menu__container .menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.menu .menu__container__background .menu__container .menu__title h2 {
  font-size: 1.8rem;
  font-family: "Shrikhand";
  font-weight: 400;
}
.menu .menu__container__background .menu__container .menu__title .menu__title__favorit {
  display: flex;
}
.menu .menu__container__background .menu__container .menu__title .menu__title__favorit:hover .fa-regular {
  animation: heart__empty 500ms ease-in-out 100ms both;
}
.menu .menu__container__background .menu__container .menu__title .menu__title__favorit:hover .fa-solid {
  animation: heart 500ms ease-in-out 100ms both;
}
.menu .menu__container__background .menu__container .menu__title .menu__title__favorit .fa-regular {
  font-size: 1.8rem;
  position: absolute;
}
.menu .menu__container__background .menu__container .menu__title .menu__title__favorit .fa-solid {
  font-size: 1.8rem;
  opacity: 0;
  background: linear-gradient(345deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu .menu__container__background .menu__container .plat {
  padding-top: 40px;
}
.menu .menu__container__background .menu__container .plat h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu .menu__container__background .menu__container .plat .lign__green {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 3px;
}
.menu .menu__container__background .menu__container .plat .menu__cards {
  display: flex;
  flex-direction: column;
  padding: 12px 0 40px 0;
  gap: 12px;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  animation: trans_menu_1 ease-in-out 1000ms both;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--1 {
  animation-delay: 1s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--2 {
  animation-delay: 2s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--3 {
  animation-delay: 3s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--4 {
  animation-delay: 4s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--5 {
  animation-delay: 5s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--6 {
  animation-delay: 6s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--7 {
  animation-delay: 7s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--8 {
  animation-delay: 8s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card--9 {
  animation-delay: 9s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card:hover .card__price {
  animation: trans_coche ease-in-out 500ms both;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card:hover .card__title {
  width: 60%;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card p {
  font-size: 0.938rem;
  font-weight: 300;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__title {
  width: 100%;
  margin: 15px 0 15px 15px;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__title h4 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__title p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__price {
  display: flex;
  flex-direction: row;
  height: 100%;
  height: 72px;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__price .price {
  font-size: 0.938rem;
  font-weight: 700;
  color: #353535;
  padding: 40px 15px 0 0;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__price .check {
  height: 75px;
  width: 60px;
  font-size: 1rem;
  position: absolute;
  right: -60px;
  bottom: 0.5px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card .card__price .check i {
  background-color: #F6F6F6;
  color: #99E2D0;
  padding: 5px;
  border-radius: 15px;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée {
  animation: trans_menu_1 ease-in-out 1000ms both;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--1 {
  animation-delay: 1s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--2 {
  animation-delay: 2s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--3 {
  animation-delay: 3s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--4 {
  animation-delay: 4s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--5 {
  animation-delay: 5s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--6 {
  animation-delay: 6s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--7 {
  animation-delay: 7s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--8 {
  animation-delay: 8s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--9 {
  animation-delay: 9s;
}
.menu .menu__container__background .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--10 {
  animation-delay: 10s;
}
.menu .menu__container__background .menu__container .menu__commande {
  display: flex;
  justify-content: center;
}
.menu .menu__container__background .menu__container .menu__commande .btn {
  background: linear-gradient(345deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 25px;
  width: 186px;
  height: 50px;
  transition: background-color 250ms;
  animation: btn_reset ease-in-out 1000ms forwards;
}
.menu .menu__container__background .menu__container .menu__commande .btn p {
  font-size: 1rem;
  font-weight: 500;
}
.menu .menu__container__background .menu__container .menu__commande .btn:hover {
  animation: btn_hover ease-in-out 1000ms forwards;
}

@keyframes trans_menu_1 {
  0% {
    transform: translateX(-870px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes trans_coche {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}/*# sourceMappingURL=menu.css.map */