@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "libs/responsive.scss";
@import "libs/mixins.scss";
@import "style.scss";


.header__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 63px;
    .arrow__left{
        position: absolute;
        left: 17px;
        top: 14px;
        font-size: 30px;
    }
}

.bg__La_palette_du_gout{
    background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg__Le_delice_des_sens{
    background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg__La_note_enchantee{
    background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg__A_la_francaise{
    background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu{
    padding-top: 220px;
    .menu__container{
        background-color: #F6F6F6;
        border-radius: 40px 40px 0 0;
        padding: 32px 17px 40px 17px;
        .menu__title{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            h2{
                font-size: 1.8rem;
                font-family: 'Shrikhand';
                font-weight: 400;
            }
            .menu__title__favorit{
                display: flex;
                &:hover .fa-regular{
                    animation: heart__empty 500ms ease-in-out 100ms both;
                }
                .fa-regular{
                    font-size: 1.8rem;
                    position: absolute;
                }
                .fa-solid{
                    font-size: 1.8rem;
                    opacity: 0;
                    background: $color_btn;
                    &:hover{
                        animation: heart 1s ease-in-out 100ms both;
                    }
                }
            }
        }
        .plat{
            padding-top: 40px;
            h3{
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
            }
            .lign__green{
                width: 40px;
                height: 3px;
                background-color: $tertiaire;
                margin-top: 3px;
            }
            .menu__cards{
                display: flex;
                flex-direction: column;
                padding: 12px 0 40px 0;
                gap: 12px;
                .menu__card{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    position: relative;
                    overflow: hidden;
                    background-color: white;
                    @include box_shadow_10;
                    animation: trans_menu_1 ease-in-out 1000ms both;
                    @include boucle;
                    &:hover .card__price{
                        animation: trans_coche ease-in-out 500ms both;
                    }
                    h4{
                        font-size: 1.1rem;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 0.938rem;
                        font-weight: 300;
                    }
                    .card__title{
                        width: 100%;
                        margin: 15px 0 15px 15px;
                        background-color: aqua;
                        p{
                            width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            background-color: yellow;
                        }
                    }
                    .card__price{
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        height: 72px;
                        .price{
                            font-size: 0.938rem;
                            font-weight: 700;
                            color: #353535;
                            padding: 40px 15px 0 0;
                        }
                        .check{
                            height: 75px;
                            width: 60px;
                            font-size: 1rem;
                            position: absolute;
                            right: -60px;
                            bottom: 0.5px;
                            background-color: $tertiaire;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i{
                                background-color: #F6F6F6;
                                color: $tertiaire;
                                padding: 5px;
                                border-radius: 15px;
                            }
                        }
                    }
                }
                .menu__card__laNoteEnchantée{
                    animation: trans_menu_1 ease-in-out 1000ms both;
                    @include boucle($nbr_menu:10);
                }
            }
            
        }
        .menu__commande{
            display: flex;
            justify-content: center;
            .btn{
                @include btn;
                width: 186px;
                height: 50px;
                transition: background-color 250ms;
                animation: btn_reset ease-in-out 1000ms forwards; 
                p{
                    font-size: 1rem;
                    font-weight: 500;
                }   
                &:hover{
                    animation: btn_hover ease-in-out 1000ms forwards;
                }
            }
        }
        
    }
}


// animation menu

@keyframes trans_menu_1{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}

// animation coche de validation

@keyframes trans_coche{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-60px);
    }
}