@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 375px;
  font-family: "Roboto";
}

.main__container {
  position: absolute;
  top: 0;
  width: 375px;
  animation: main__container linear 5000ms 1000ms both;
}

h2 {
  font-family: "Roboto";
  color: Black;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-family: "Roboto";
  color: Black;
  font-size: 1.1rem;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

.header__index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__index .logo {
  height: 36px;
  padding-top: 14px;
  padding-bottom: 13px;
}
.header__index .localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  gap: 17px;
  font-size: 1rem;
  font-weight: 500;
}
.header__index i {
  font-size: 30px;
}

.exploration {
  padding: 39px 0 57px 0;
  background-color: #F6F6F6;
}
.exploration .exploration__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exploration .exploration__restaurants h2 {
  text-align: center;
  padding-bottom: 15px;
}
.exploration .exploration__restaurants p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}
.exploration .exploration__restaurants .btn {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 25px;
  width: 218px;
  height: 50px;
  margin-top: 27px;
  transition: background-color 250ms;
  animation: btn_reset ease-in-out 1000ms forwards;
}
.exploration .exploration__restaurants .btn p {
  font-size: 1rem;
  font-weight: 500;
}
.exploration .exploration__restaurants .btn:hover {
  animation: btn_hover ease-in-out 1000ms forwards;
}

.fonctionnement {
  padding: 48px 20px 68px 20px;
}
.fonctionnement .fonctionnement__title {
  padding-bottom: 26px;
}
.fonctionnement .fonctionnement__explication {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  margin-left: 12px;
  padding: 25px 0 25px 0;
  background-color: #F6F6F6;
}
.fonctionnement .fonctionnement__explication .nbr {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  left: -12px;
}
.fonctionnement .fonctionnement__explication .txt {
  display: flex;
  flex-direction: row;
  gap: 27px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.fonctionnement .fonctionnement__explication .txt .fa-solid {
  color: #7E7E7E;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 18px 66px 18px;
}
.restaurants .restarants__title {
  margin-bottom: 20px;
  padding-left: 3px;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.restaurants .restaurants__cards .card {
  width: 340px;
  height: 251px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants .restaurants__cards .card img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__cards .card .card__txt {
  padding: 16px 0 0 16px;
}
.restaurants .restaurants__cards .card .card__txt .card__subtitle {
  font-size: 1.063rem;
  font-weight: 300;
}
.restaurants .restaurants__cards .card .card__favorit {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 33px;
  right: 25px;
}
.restaurants .restaurants__cards .card .card__favorit .fa-regular {
  font-size: 1.375rem;
  position: absolute;
}
.restaurants .restaurants__cards .card .card__favorit .fa-solid {
  font-size: 1.375rem;
  opacity: 0;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.restaurants .restaurants__cards .card .card__favorit .fa-solid:hover {
  animation: heart 1s ease-in-out 100ms both;
}
.restaurants .restaurants__cards .card .card__new {
  width: 80px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  padding: 7px 0 7px 0;
  position: relative;
  left: 70%;
  bottom: 95%;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants .restaurants__cards .card .card__new p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #008766;
}

footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
}
footer .footer__logo {
  padding-bottom: 16px;
}
footer .footer__logo .footer__logo__title {
  font-size: 18px;
  font-weight: 400;
  font-family: "Shrikhand";
  color: white;
}
footer .container__haut {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 7px;
}
footer .container__haut i {
  width: 16px;
  font-size: 1rem;
}
footer .container__haut a {
  padding-left: 11px;
}
footer .container__bas {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.main__loader {
  width: 100%;
}

.loader_container {
  border-radius: 10px;
  width: 375px;
  height: 375px;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s 3 linear 500ms;
}

.loader::before, .loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #FF79DA;
  animation: spin 3s 2 linear 500ms;
}

.loader::after {
  top: 28px;
  left: 28px;
  right: 28px;
  bottom: 28px;
  border-top-color: #99E2D0;
  animation: spin 1.5s 3 linear 500ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes main__container {
  0% {
    transform: translateX(-999999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    opacity: 0.5;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes heart__opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes btn_hover {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes btn_reset {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 63px;
}
.header__menu .arrow__left {
  position: absolute;
  left: 17px;
  top: 14px;
  font-size: 30px;
}

.bg__La_palette_du_gout {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg__Le_delice_des_sens {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg__La_note_enchantee {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg__A_la_francaise {
  background-image: url("../assets/Images et textes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.menu {
  padding-top: 220px;
}
.menu .menu__container {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  padding: 32px 17px 40px 17px;
}
.menu .menu__container .menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.menu .menu__container .menu__title h2 {
  font-size: 1.8rem;
  font-family: "Shrikhand";
  font-weight: 400;
}
.menu .menu__container .menu__title .menu__title__favorit {
  display: flex;
}
.menu .menu__container .menu__title .menu__title__favorit .fa-regular {
  font-size: 1.8rem;
  position: absolute;
}
.menu .menu__container .menu__title .menu__title__favorit .fa-solid {
  font-size: 1.8rem;
  opacity: 0;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.menu .menu__container .menu__title .menu__title__favorit .fa-solid:hover {
  animation: heart 1s ease-in-out 100ms both;
}
.menu .menu__container .plat {
  padding-top: 40px;
}
.menu .menu__container .plat h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu .menu__container .plat .lign__green {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 3px;
}
.menu .menu__container .plat .menu__cards {
  display: flex;
  flex-direction: column;
  padding: 12px 0 40px 0;
  gap: 12px;
}
.menu .menu__container .plat .menu__cards .menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  animation: trans_menu_1 ease-in-out 1000ms both;
}
.menu .menu__container .plat .menu__cards .menu__card--1 {
  animation-delay: 1s;
}
.menu .menu__container .plat .menu__cards .menu__card--2 {
  animation-delay: 2s;
}
.menu .menu__container .plat .menu__cards .menu__card--3 {
  animation-delay: 3s;
}
.menu .menu__container .plat .menu__cards .menu__card--4 {
  animation-delay: 4s;
}
.menu .menu__container .plat .menu__cards .menu__card--5 {
  animation-delay: 5s;
}
.menu .menu__container .plat .menu__cards .menu__card--6 {
  animation-delay: 6s;
}
.menu .menu__container .plat .menu__cards .menu__card--7 {
  animation-delay: 7s;
}
.menu .menu__container .plat .menu__cards .menu__card--8 {
  animation-delay: 8s;
}
.menu .menu__container .plat .menu__cards .menu__card--9 {
  animation-delay: 9s;
}
.menu .menu__container .plat .menu__cards .menu__card:hover .card__price {
  animation: trans_coche ease-in-out 500ms both;
}
.menu .menu__container .plat .menu__cards .menu__card h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu .menu__container .plat .menu__cards .menu__card p {
  font-size: 0.938rem;
  font-weight: 300;
}
.menu .menu__container .plat .menu__cards .menu__card .card__title {
  margin: 15px 0 15px 15px;
}
.menu .menu__container .plat .menu__cards .menu__card .card__price {
  display: flex;
  flex-direction: row;
  height: 100%;
  height: 72px;
}
.menu .menu__container .plat .menu__cards .menu__card .card__price .price {
  font-size: 0.938rem;
  font-weight: 700;
  color: #353535;
  padding: 40px 15px 0 0;
}
.menu .menu__container .plat .menu__cards .menu__card .card__price .check {
  height: 75px;
  width: 60px;
  font-size: 1rem;
  position: absolute;
  right: -60px;
  bottom: 0.5px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__container .plat .menu__cards .menu__card .card__price .check i {
  background-color: #F6F6F6;
  color: #99E2D0;
  padding: 5px;
  border-radius: 15px;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée {
  animation: trans_menu_1 ease-in-out 1000ms both;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--1 {
  animation-delay: 1s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--2 {
  animation-delay: 2s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--3 {
  animation-delay: 3s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--4 {
  animation-delay: 4s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--5 {
  animation-delay: 5s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--6 {
  animation-delay: 6s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--7 {
  animation-delay: 7s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--8 {
  animation-delay: 8s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--9 {
  animation-delay: 9s;
}
.menu .menu__container .plat .menu__cards .menu__card__laNoteEnchantée--10 {
  animation-delay: 10s;
}
.menu .menu__container .menu__commande {
  display: flex;
  justify-content: center;
}
.menu .menu__container .menu__commande .btn {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 25px;
  width: 186px;
  height: 50px;
  transition: background-color 250ms;
  animation: btn_reset ease-in-out 1000ms forwards;
}
.menu .menu__container .menu__commande .btn p {
  font-size: 1rem;
  font-weight: 500;
}
.menu .menu__container .menu__commande .btn:hover {
  animation: btn_hover ease-in-out 1000ms forwards;
}

@keyframes trans_menu_1 {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes trans_coche {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}/*# sourceMappingURL=menu.css.map */