@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "libs/responsive.scss";
@import "libs/mixins.scss";


// Variables

$primaire:#9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$color_btn: linear-gradient(345deg, #9356DC -11.44%, #FF79DA 123.93%);
$font_size_title_h2: 1.5rem;
$font_size_title_h3: 1.1rem;
$font_weight_title_h2: 700;
$font_weight_title_h3: 700;
$color_h2: Black;
$color_h3: Black;

// Général

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}

.main__container{
    position: absolute;
    top: 0;
    width: 100%;
    animation: main__container linear 5000ms 1000ms both;
}

h2{
    font-family: 'Roboto';
    color: $color_h2;
    font-size: $font_size_title_h2;
    font-weight: $font_weight_title_h2;
}

h3{
    font-family: 'Roboto';
    color: $color_h3;
    font-size: $font_size_title_h3;
    font-weight: $font_weight_title_h3;
}

a {
    color: inherit;
    text-decoration: none;
}


// Header

.header__index{
    @include align_vertical;
    .logo{
        height: 36px;
        padding-top: 14px;
        padding-bottom: 13px
    }
    .localisation{
        @include align_horizontal;
        width: 100%;
        height: 50px;
        background-color: #EAEAEA;
        gap: 17px;
        font-size: 1rem;
        font-weight: 500;
    }
    i{
        font-size: 1rem;
        color: #353535;
    }
}

.exploration{
    padding: 39px 0 57px 0;
    background-color: #F6F6F6;
    .exploration__restaurants{
        @include align_vertical;
        h2{
            text-align: center;
            padding-bottom: 15px;
        }
        p{
            text-align: center;
            font-size: 1.1rem;
            font-weight: 300;
        }
        .btn{
            @include btn;
            width: 218px;
            height: 50px;
            margin-top: 27px;
            transition: background-color 250ms;
            animation: btn_reset ease-in-out 1000ms forwards; 
            p{
                font-size: 1rem;
                font-weight: 500;
            }   
            &:hover{
                animation: btn_hover ease-in-out 1000ms forwards;
            }
        }
    }
}

.fonctionnement{
    .fonctionnement__title{
        padding-bottom: 26px;
    }
    .fonctionnement__explication{
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 25px;
        margin-left: 12px;
        padding: 25px 0 25px 0;
        background-color: #F6F6F6;
        .nbr{
            width: 24px;
            height: 24px;
            background-color: $primaire;
            color: white;
            border-radius: 12px;
            display: flex;
            align-items: end;
            justify-content: center;
            position: relative;
            left: -12px;
        }
        .txt{
            display: flex;
            flex-direction: row;
            gap: 27px;
            font-size: 1rem;
            font-weight: 500;
            color: black;
            .color__gris{
                color: #7E7E7E;
            }
            .color__violet{
                color: #9356DC;
            } 
        }
        
    }
}

.restaurants{
    background-color: #F6F6F6;
    .restarants__title{
        margin-bottom:20px;
        padding-left: 3px;
    }
    .restaurants__cards{
        width: 100%;
        a{
            width: 100%;
            display: block;
            margin-bottom: 18px;
            .card{
                width: 100%;
                height: 251px;
                background-color: white;
                @include box_shadow_10;
                
                img{
                    width: 100%;
                    height: 174px;
                    border-radius: 15px 15px 0 0;
                    object-fit: cover;
                }
                .card__txt{
                    padding: 16px 0 0 16px;
                    .card__subtitle{
                        font-size: 1.063rem;
                        font-weight: 300;
                    }
                }
                .card__favorit{
                    display: flex;
                    justify-content: end;
                    position: relative;
                    bottom: 33px;
                    right: 25px;
                    &:hover .fa-regular{
                        animation: heart__empty 500ms ease-in-out 100ms both;
                    }
                    .fa-regular{
                        font-size: 1.375rem;
                        position: absolute;
                    }
                    .fa-solid{
                        font-size: 1.375rem;
                        opacity: 0;
                        background: $color_btn;
                        &:hover{
                            animation: heart 1s ease-in-out 100ms both;
                        }
                        &:hover .fa-regular{
                            animation: heart__empty 1s ease-in-out 100ms both;
                        }
                    }
                    
                }
                .card__new{
                    width: 80px;
                    background-color: $tertiaire;
                    display: flex;
                    justify-content: center;
                    padding: 7px 0 7px 0;
                    position: relative;
                    left: 70%;
                    bottom: 95%;
                    border-radius: 2px;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                    p{
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #008766;
                    }
                }
            }
        }
        
    }
}

footer{
    background-color: #353535;
    .footer__logo{

        .footer__logo__title{
            font-size: 18px;
            font-weight: 400;
            font-family: 'Shrikhand';
            color: white;
        }
    }
    .container__haut{
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 7px;
        i{
            width: 16px;
            font-size: 1rem;
        }
        a{
            padding-left: 11px;
        }
    }
    .container__bas{
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
}

// *************************loader**********************

.main__loader{
    width: 100%;
}

.loader_container{
    border-radius: 10px;
    width: 375px;
    height: 375px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #9356DC;
    animation: spin 2s 3 linear 500ms;
}

.loader::before, .loader::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}

.loader::before{
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: #FF79DA;
    animation: spin 3s 2 linear 500ms;
}

.loader::after{
    top: 28px;
    left: 28px;
    right: 28px;
    bottom: 28px;
    border-top-color: #99E2D0;
    animation: spin 1.5s 3 linear 500ms;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes main__container{
    0%{
        transform: translateX(-999999px);
    }
    100%{
        transform: translateX(0);
    }
}

// *************************coeur**********************

@keyframes heart{
    0%{
        opacity: 0;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
    }
    50%{
        opacity: 0.5;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    100%{
        opacity: 1;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes heart__empty{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

// *************************boutton**********************

@keyframes btn_hover {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes btn_reset {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

